.upload1Container {
  width: 927px;
  height: 496px;
  filter: drop-shadow(0px 0px 10px rgba(51, 77, 110, 0.2));
  border-radius: 4px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
}

.leftPanel {
  width: 50%;
}

.rightPanel {
  width: 60%;
  background-color: #1a2737;
  border-radius: 0px 4px 4px 0px;
}

.upload1Title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.015em;
  color: #334d63;
  margin-top: 54px;
}

.upload1Sub {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8594a8;
  margin-left: 67px;
  margin-right: 61px;
  margin-top: 3px;
}

.uploadImg {
  border: 2px dashed #8594a8;
  border-radius: 12px;
  margin-left: 67px;
  margin-right: 61px;
  margin-bottom: 63px;
}

.imgWrapper {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 6px;
}

.img {
  width: 124px;
  height: 124px;
}

.uploadTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334d6e;
  text-align: center;
}

.uploadLink {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #4a6ce3;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 54px;
}

.closeWrap {
  text-align: right;
  margin-right: 16px;
  margin-top: 16px;
  cursor: pointer;
}

.closeIcon {
  width: 14px;
  height: 14px;
}

.rightTitle {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015em;
  font-weight: bold;
  color: #fff;
  margin-left: 40px;
}

.galleryWrap {
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 53px;
  display: grid;
  grid-template-columns: 142px 142px 142px;
  grid-template-rows: 142px 142px;
  grid-gap: 6px;
}

.responsiveImg {
  width: 100%;
  height: 100%;
}

.cancelImg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.singleItem {
  position: relative;
}
